body {
    align-items: center;
    text-align: center;
}

a {
    color: black;
}

.col {
    background-color: rgb(245, 245, 245);
    margin-bottom: 1em;
}

.carousel-item {
    transition: transform 2s ease, opacity .5s ease-out;
}

.list-group-item {
    text-align: left;
    min-width: 14em;
}

nav {
    color: aliceblue;
}

#opcionesBtn {
    display: none;
}

#opcionesContainer {
    float: left;
    margin-left: 5%;
}

#searchTop {
    display: none;
}

#searchBottom {
    display: block;
}


@media (max-width: 768px) {
    #opcionesContainer, header {
        float: none;
        display: none;
        align-items: center;
        width: 100%;
        margin-left: 0;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    #opcionesBtn {
        display: contents;
    }

    nav {
        text-align: left;
        align-items: left;
    }

    .col {
        width: 100%;
    }

    #searchTop {
        display: block;
    }
    
    #searchBottom {
        display: none;
    }
    

}